<div class="container mat-elevation-z8">
  <cdk-table #table [dataSource]="dataSource" class="table">
    <ng-container cdkColumnDef="request_date">
      <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Date </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="cell"> {{row.request_date | date:'medium'}} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="source_tx">
      <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Source Text </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="cell"> {{row.source_tx}} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="src_lang_tx">
      <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Source Language </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="cell"> {{row.src_lang_tx}} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="trans_tx">
      <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Translated Text</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="cell"> {{row.trans_tx}} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="dst_lang_tx">
      <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Translated Language </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row" class="cell"> {{row.dst_lang_tx}} </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns" class="header-row"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="row"></cdk-row>
  </cdk-table>
</div>
