/* Structure */
.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 100px;
  height: auto;
}

/*
 * Styles to make the demo's cdk-table match the material design spec
 * https://material.io/guidelines/components/data-tables.html
 */
.table {
  flex: 1 1 auto;
  overflow: auto;
}

.header-row, .row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 32px;
  padding: 0 8px;
}

.cell, .header-cell {
  flex: 1;
}

.header-cell {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}
