<div style="text-align: center">
  <div class="translator-toolbar">
  <app-toolbar-item [changeModuleEmitter]="activeModuleEmitter" componentLinkName="Translator"></app-toolbar-item>
  <app-toolbar-item [changeModuleEmitter]="activeModuleEmitter" componentLinkName="Translation History"></app-toolbar-item>
</div>
  <app-translator-module *ngIf="activeModule === 'Translator'"></app-translator-module>
  <app-translation-history *ngIf="activeModule === 'Translation History'"></app-translation-history>
</div>
