<div class="login-header">
  <div class="translator-toolbar">
    <h1 style="color: white ;">Login</h1>
  </div>
<div >

  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label >Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
    </div>
    <div class="form-group">
      <label >Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    </div>
    <button class="btn btn-primary">Login</button>
    <p *ngIf="showError" style="color: red">
      Invalid Password
    </p>
  </form>
</div>
