.translator-toolbar {
  width: 100%;
  height: auto;
  background-color: rgb(44, 61, 127);
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0 1em grey;
  margin-left: -10px;
}

.form-control {
  margin: 10px;
}

.login-header {
  margin-top: 150px;
  text-align: center;
  font-family: sans-serif;
}
