.toolbar-item {
  text-transform: capitalize;
  font-family: sans-serif;
  display: inline-block;
  width: 45%;
  cursor: pointer;
  color: grey;
}

.active-item {
  font-weight: bold;
  color: white;
}

