.textarea {
  width: 100%;
  height: 300px;
  resize: none;
  margin: 5px;
}

.translation-module {
  width: 45%;
  display: inline-block;
  margin: 10px;
}

.translate-button {
  display: block;
  margin: auto
}

.title {
  margin-top: 100px;
}

.icon {
  margin-top: 10px;
  margin-bottom: 20px;
}
