<div class="title">
  <h1>
    The Matt Damore Translator
  </h1>
  <h3>
    Because who needs Google
  </h3>
  <img class="icon" width="150" src="../assets/worlwide.png">
</div>
<div>
  <div class="translation-module">
    <label>Translation Input Language: {{source_lang.name}}</label>
    <textarea class="textarea" (keypress)="languageSearch($event)" [(ngModel)]="source_tx"></textarea>
  </div>

  <div class="translation-module">
      <select *ngIf="!!validLanguages" [(ngModel)]="destLanguage">
        <option *ngFor="let language of validLanguages" [ngValue]="language.name">{{language.name}}</option>
      </select>
    <label>Translation Result</label>
    <textarea class="textarea" readonly [(ngModel)]="translated_tx"></textarea>
  </div>
  <button class="translate-button" type="submit" (click)="translate()">Translate</button>
</div>


